<!doctype html>
<html>
  <head>
    <title>bandido</title>
    <script>
        function reward() {
            const model = Math.floor(Math.random() * 10);
            const reward = Math.floor(Math.random() * 10);
            fetch(`/reward/${model}/${reward}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
    </script>
  </head>
  <body>
    <ul>
      <li>
        <a href="/recommend">Recommendations</a>
      </li>
      <li>
        <a href="javascript:reward()">Rewards</a>
      </li>
    </ul>
  </body>
</html>